flask==2.3.3
flask-cors==4.0.0
opencv-python-headless==4.8.1.78
numpy==1.24.3
pillow>=10.4.0
requests==2.31.0
python-dotenv==1.0.0
onnxruntime==1.17.3
deepface==0.0.91
google-generativeai==0.7.1
gunicorn==21.2.0
